<h1>Edit {{editPirate.id}}</h1>
  <form action="/pirates/{{pirates.id}}?_method=PUT" method="POST">
    <input type="text" name="name"><br>
    <input type="text" name="birthplace"><br>
    <input type="number" name="death_year"><br>
    <input type="text" name="base"><br>
    <input type="text" name="nickname"><br> 
    <input type="submit" value="Yarrr, me hearty">
  </form>
